body {
    font-family: 'Josefin Sans', sans-serif;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {  /* Esto se agrego porque se fijo el navbar en el html y se ajusta el margen */
  margin-top: 100px;
}

.header-content-left img {
  /*width: 100%; /* Esto es para que ocupe el ancho de mi columna*/
  width: 350px;
  height: 350px;
  border-radius: 240px;
  margin-bottom: 10px;
}

.header-content-right {
  color: #f1f1f1;
  margin-top: 45px;
}

.header-content-right h1 {
  font-size: 50px;
  font-weight: bolder;
}

.header-content-right p {
  text-align: justify;
  font-size: 20px;
  font-weight: bolder;
}

#testimonios {
  background-color: #f1f1f1;
  padding: 50px 0px 30px 0px;
  text-align: center;
  margin-top: 40px;
}

#testimonios p {
  text-align: justify;
  font-size: 20px;
}

#testimonios img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.info-one h5{
  text-align: center;
}

.info-one h5 p {
  margin: 0 auto;
}

#info-two {
  background-color: #f1f1f1;
  padding: 50px 0px 50px 0px;
  text-align: center;
  font-weight: bolder;
}

#info-two .container p {
  text-align: justify;
}

#info-two .container h5 p {
  text-align: justify;
  flex-basis: auto; /* determian el tamaño de una caja de contenidos */
}






